WELCOME TO MY COMPILER!<BR><BR>

<table>
	<tr>
		<td><%= @student[0] %></td>
		<td><%= @student[1] %></td>
		<td><%= @student[3] %></td>
		<td><%= @student[5] %></td>
		<td><%= @fitgramtemp[3] %></td>
		<td><%= @fitgramtemp[5] %></td>
	</tr>
</table>
<%= @studentdata[5] %><br>
<%= @fitgramdata[5] %><br>
<%= @fitgramtempdata[0] %><br>
<table>
	<tr>
		<td><%= @fitgram[0] %></td>
		<td><%= @fitgram[2] %></td>
		<td><%= @fitgram[3] %></td>
		<td><%= @fitgram[4] %></td>
		<td><%= @fitgram[5] %></td>
		<td><%= @fitgram[6] %></td>
		<td><%= @fitgram[7] %></td>
		<td><%= @fitgram[8] %></td>
		<td><%= @fitgram[9] %></td>
		<td><%= @fitgram[10] %></td>
		<td><%= @fitgram[11] %></td>
		<td><%= @fitgram[12] %></td>
		<td><%= @fitgram[13] %></td>
		<td><%= @fitgram[14] %></td>
		<td><%= @fitgram[15] %></td>
		<td><%= @fitgram[16] %></td>
		<td><%= @fitgram[18] %></td>
		<td><%= @fitgram[19] %></td>
		<td><%= @fitgram[20] %></td>
		<td><%= @fitgram[21] %></td>
		<td><%= @fitgram[22] %></td>
		<td><%= @fitgram[23] %></td>
		<td><%= @fitgram[26] %></td>
		<td><%= @fitgram[27] %></td>
		<td><%= @fitgram[29] %></td>
		<td><%= @fitgram[30] %></td>
		<td><%= @fitgram[33] %></td>
		<td><%= @fitgram[34] %></td>
	</tr>
</table>

<table>
	<tr>
		<td><%= @fitgramtemp[0] %></td>
		<td><%= @fitgramtemp[3] %></td>
		<td><%= @fitgramtemp[5] %></td>
	</tr>
</table>